// ======= Variables =======
$primary: crimson;
$white: rgb(226, 225, 225);
$lightgray: rgb(182, 181, 181);
$darkgray: rgb(102, 102, 102);
$black: rgb(27, 27, 27);

// ======= Base style =======
html,
body {
  margin: 0;
  padding: 0;
}

// ======= Utility =======
.text-center {
  text-align: center;
}
.full-width {
  width: 100%;
}

// ======= Mobile Styles =======
#heroSection {
  background-image: url("../src/images/heroImage.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  * {
    color: white;
  }
}

h1 {
  text-shadow: 0 0 2px #000;
  color: white;
}

// ======= Tablet styles =======
@media screen and(min-width: 768px) {
}

// ======= Desktop styles =======
@media screen and(min-width: 1024px) {
}
