@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: #757763;
$grey-light: #d0d1cd;
$primary: #8a4d76;
$link: #fa7c91;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: #eff0eb;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import "~bulma/bulma";

#heroSection {
  background-image: url("../src/images/heroImage.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  * {
    color: white;
  }
}
